body {
    margin: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px #000000;
}

h2 {
    color: #5A537B;
}
h3 {
    color: #353535;
    font-weight: lighter;
}
#top-div {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px
}

#btm-div {
    display: flex;
    flex-direction: column;
    background-color: #3D3D3D;
    padding-top: 20px;
}
.flex-item {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.flex-itemBtm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border-radius: 6px 0px 0px 0px;
}
div {
    align-content: center;
    justify-content: center;
}

#convert-btn {
    padding: 10px 30px;
    border-radius: 6px;
    width: 125px;
}

#input {
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #B295FF;
    font-size:  65px;
    text-align: center;
    padding: 5px 10px;
    width: 100px;
    -webkit-appearance: none;
    margin: 0px;
    color: #F4F4F4;
    text-shadow: 2px 2px #000000;
    font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}